#annoying-overlay {
  position: fixed;
  top: 20px;
  left: -150%;
  width: 400%;
  white-space: nowrap;

  font-size: 3rem;
  font-weight: 900;
  font-family: Comic Sans MS, Impact, sans-serif;

  color: #ff00ff;
  text-shadow:
    3px 3px 0 #00ffff,
   -3px -3px 0 #ffff00;

  z-index: 999999;
  pointer-events: none;

  animation: chaos 6s linear infinite;
}

@keyframes chaos {
  0% {
    transform: translateX(0) rotate(-1deg);
    top: 10px;
  }
  50% {
    transform: translateX(-25%) rotate(1deg);
    top: 50px;
  }
  100% {
    transform: translateX(-50%) rotate(-1deg);
    top: 10px;
  }
}

body {
    background: #181A1B;
}

#player {
    pointer-events: none;
    position: absolute;
    margin: 0 auto;
}

iframe {
    pointer-events: none;
}
