html, body {
  margin: 0;
  height: 100%;
}

#root {
  position: relative;
  isolation: isolate;   /* 🔑 forces new stacking context */
}

#player iframe {
  position: relative;
  z-index: 1;
}

#annoying-overlay {
  position: fixed;
  top: 20px;
  left: -100%;
  width: 300%;

  white-space: nowrap;

  font-size: 48px;
  font-weight: 900;
  text-align: left;

  color: red;
  pointer-events: none;

  z-index: 10;

  animation: slide 4s linear infinite;
}


@keyframes slide {
  from { transform: translateX(-100%); }
  to   { transform: translateX(100%); }
}

body {
    background: #181A1B;
}

#player {
  position: relative;
  z-index: 1;
  pointer-events: none;
}
iframe {
    pointer-events: none;
}
